body {
    padding: 0 31rem;
    font-family: cursive;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border-top: 0.1rem solid lightgray;
}

img {
    display: block;
    height: 20rem;
    width: auto;
}